/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;0,900;1,400;1,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, button {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  color: inherit;
}

/* Variables and mixins declared here will be available in all other SCSS files */
:root {
  color: #dddddd;
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

body, #app {
  background: linear-gradient(218deg, #AF7139 10.42%, #8F39E6 100%);
  width: 100%;
  height: 100%;
}

main {
  width: 60%;
  height: 100%;
  margin-left: 25%;
  margin-right: 25%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-scroll {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  height: 80%;
  top: 0px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 1.25rem;
  align-items: center;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.chat-scroll::-webkit-scrollbar {
  display: none;
}
.chat-scroll .message-box {
  box-shadow: -4px -4px 4px 0px rgba(0, 0, 0, 0.1) inset, 2px 2px 4px 0px rgba(255, 255, 255, 0.1) inset;
  background-color: rgba(129, 129, 129, 0.3);
  border-radius: 2vmin;
  width: calc(100% - 2.5rem);
  padding: 1.25rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.chat-scroll .message-box .avatar {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1vmin;
  height: 2.5rem;
  width: 2.5rem;
}
.chat-scroll .message-box .message-content {
  width: calc(100% - 6rem);
}
.chat-scroll .message-box .message-content .message-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}
.chat-scroll .message-box .message-content .message-bar h1 {
  font-weight: 700;
}
.chat-scroll .message-box .message-content .message-bar p {
  color: #999;
}
.chat-scroll .load-button {
  box-shadow: -4px -4px 4px 0px rgba(0, 0, 0, 0.1) inset, 2px 2px 4px 0px rgba(255, 255, 255, 0.1) inset;
  background-color: rgba(68, 68, 68, 0.6);
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 2.5vmin;
  width: 20%;
  margin-top: 1.5rem;
}
.chat-scroll .load-button:hover {
  box-shadow: none;
}
.chat-scroll .load-button:active {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1) inset, -2px -2px 4px 0px rgba(255, 255, 255, 0.1) inset;
  background-color: rgba(60, 60, 60, 0.7);
}

.type-area {
  box-shadow: -4px -4px 4px 0px rgba(0, 0, 0, 0.1) inset, 2px 2px 4px 0px rgba(255, 255, 255, 0.1) inset;
  background-color: rgba(129, 129, 129, 0.3);
  border-radius: 2vmin;
  width: calc(100% - 2.5rem);
  padding: 1.25rem;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 2px 2px 4px 0px rgba(255, 255, 255, 0.1) inset, -4px 0px 4px 0px rgba(0, 0, 0, 0.1) inset;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-bottom: 0.75rem;
  gap: 1.25rem;
}
.type-area .send-button {
  box-shadow: -4px -4px 4px 0px rgba(0, 0, 0, 0.1) inset, 2px 2px 4px 0px rgba(255, 255, 255, 0.1) inset;
  background-color: rgba(68, 68, 68, 0.6);
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 2.5vmin;
  padding: 0.5rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.type-area .send-button:hover {
  box-shadow: none;
}
.type-area .send-button:active {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1) inset, -2px -2px 4px 0px rgba(255, 255, 255, 0.1) inset;
  background-color: rgba(60, 60, 60, 0.7);
}
.type-area .text-to-send {
  box-shadow: -4px -4px 4px 0px rgba(0, 0, 0, 0.1) inset, 2px 2px 4px 0px rgba(255, 255, 255, 0.1) inset;
  color: inherit;
  border: none;
  background-color: rgba(68, 68, 68, 0.6);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 2.5vmin;
  width: 100%;
}
.type-area .text-to-send:focus-visible {
  border: none;
  outline: none;
}

/*# sourceMappingURL=chat-styles.css.map */
