/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, button {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
    border: none;
    color: inherit;
}

/* Variables and mixins declared here will be available in all other SCSS files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;0,900;1,400;1,700');

$text: #dddddd;
$box: rgba(129, 129, 129, 0.30);
$box-dark: rgba(68, 68, 68, 0.60);

// html {
//     background: linear-gradient(218deg, #AF7139 10.42%, #8F39E6 100%);
// }

:root {
    color: $text;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

// style features

@mixin pop {
    box-shadow: -4px -4px 4px 0px rgba(0, 0, 0, 0.10) inset, 2px 2px 4px 0px rgba(255, 255, 255, 0.10) inset;
}

@mixin indent {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.10) inset, -2px -2px 4px 0px rgba(255, 255, 255, 0.10) inset;
}

@mixin float {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@mixin pop-float {
    box-shadow: 2px 2px 4px 0px rgba(255, 255, 255, 0.10) inset, 4px 4px 4px 0px rgba(0, 0, 0, 0.25), -4px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

// components
@mixin content-box {
    @include pop;
    background-color: $box;
    border-radius: 2vmin;
    width: calc(100% - 2.5rem);
    padding: 1.25rem;
}

@mixin button {
    @include pop;

    background-color: $box-dark;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2.5vmin;

    &:hover {
        box-shadow: none;//-3px -3px 4px 0px rgba(0, 0, 0, 0.10) inset, 1px 1px 4px 0px rgba(255, 255, 255, 0.10) inset;
        // background-color: rgba(60, 60, 60, 0.70)
    }

    &:active {
        @include indent;
        background-color: rgba(60, 60, 60, 0.70);
    }
}

body, #app {
    background: linear-gradient(218deg, #AF7139 10.42%, #8F39E6 100%);
    width: 100%;
    height: 100%;
}
main {
    width: 60%;
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
}

//////////

